spring:
  application:
    name: user-service
  config:
    import: "dev.yml"

# Database configuration
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/user_service
    username: postgres
    password: 1234

# ORM configuration
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    show-sql: true
    generate-ddl: true

# mail configuration
  mail:
    host: smtp.gmail.com
    port: 465
    protocol: smtp
    username: xyz@gmail.com
    password: abc
    test-connection: false
    properties:
      "mail.smtp.auth": true
      "mail.smtp.starttls.enable": true
      "mail.smtp.starttls.required": true
      "mail.smtp.socketFactory.class": javax.net.ssl.SSLSocketFactory
      "mail.debug": true
server:
  error:
    include-message: always
  port: 8080

service_url: "http://localhost:${server.port}"

jwt:
  secret: "key1234"
  expirationms: 360000000
  refresh-token:
    secret: "key1234"
    expirationms: 720000000

