services:
  user-service:
    container_name: user-service
    build: .
    ports:
      - "8080:8080"
    environment:
      server.error.include-message: always
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/user_service
    volumes:
        - ../volumes/logs/user-service:/app/logs
    restart:
      on-failure
    depends_on:
      - postgres
    networks:
      - my_shared_net

  # PostgreSQL
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: user_service
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/postgres_data:/var/lib/postgresql/data
    networks:
      - my_shared_net

#   pgAdmin
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: root@root.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "8091:80"
    depends_on:
      - postgres
    restart: on-failure
    volumes:
      - ./volumes/pgadmin_data:/var/lib/pgadmin
    networks:
      - my_shared_net

networks:
  my_shared_net:
    external: true